<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Dojos</title>
</head>
<body>
  <!-- -->
    <h1>Nuevo Dojo</h1>
    <form action="/adherir" method="post">
        <div class="mb-3">
            <label for="exampleInputNombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="exampleInputNombre" name="nombre" aria-describedby="emailHelp">
          </div>
          <button type="imput">Enviar</button>
    </form>
    <h1>Todos los dojos</h1>
 
    <table class="table">
      <tbody>
      {% for user in dojos %}
        <tr>          
          <th scope="row"><a href="/dojoshow/{{user.id}}">{{user.nombre}}</a></th>        
        </tr>
      {% endfor %}
      </tbody>         
    </table>
    <a href="/nuevoninja"><button >Agregar Ninja</button></a>

</body>
</html>